
/*  ? --------------------------------- Responsive adjustement by screen --------------------------------- */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
/*Ipad
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
/* Smartphones (portrait and landscape)
@media only screen and (-webkit-min-device-pixel-ratio : 1.5)
/*Iphone 4
@media only screen and (min-device-pixel-ratio : 1.5)
/*Iphone 4

@media handheld and (max-width: 960px)
/*handheld*/ 
 @media only screen and (max-width: 1747px)and (min-width:1605px){
    .containerr:hover {
        transform: skewY(-10deg) scale(0.8) translate(-40%,-20%) !important;
    }
 }
  @media only screen and (max-width: 1604px)and (min-width:1321px){
      .containerr{
          transform:skewY(-10deg) scale(0.5) translate(-40%,-20%) !important ;
      }
    .containerr:hover {
        transform: skewY(-10deg) scale(0.8) translate(-40%,-20%) !important;
    }
    .customerReviews,.formTitle{
        font-size: 25px !important;
    }
    .socialMedia h4{
        margin-top:20px;
        font-size:20px !important;
    }
 }
 @media only screen and (max-width: 1320px)and (min-width:1024px){
     nav{
        display: grid;
        grid-template-columns:5% 0.5fr 2fr 0.1fr 5% !important;
     }
     .logo{
       height: 70px;
   }
   .navlinks-div{
       font-size: 12px;
       letter-spacing: 0px;
   }
   .hamburger{
       height: 0px;
   }
   .title-div h1{
       font-size: 50px;
   }
   .title-div h2{
       font-size: 30px;
   }
   .s2 h1{
       font-size: 30px !important;
       margin-bottom: 20px !important;
   }
   .aboutUsImgContainer h2,h5{
       font-size: 20px !important;
   }
   .aboutUsImg{
       height: 150px !important;
       width: 150px !important;
   }
   .aboutUsImgContainer h3{
       font-size: 17px !important;
   }
   .description p{
       font-size: 14px;
   }
   .ourMission{
       width: 30vw !important;
   }
   .ourMissionAbout h2{
       font-size: 20px !important;
   }
   .ourMissionAbout p{
       font-size: 14px !important;
   }
   .card {
       width: 180px !important;
   }
   .label{
       height:100px !important;
   }
   .titlee{
       font-size: 0.9em;
   }
   .body-text{
       font-size: 12px;
   }
   .carousel-text-subtitle p{
    font-size: 14px !important;
    }
    .carousel-text-title{
        padding-bottom: 30px !important;
    }
    .containerr{
          transform:skewY(-10deg) scale(0.5) translate(-60%,-60%) !important ;
      }
    .containerr:hover {
        transform: skewY(-10deg) scale(0.8) translate(-60%,-20%) !important;
    }
    .s4 h1{
        font-size: 30px !important;
    }
    .customerReviews,.formTitle{
        font-size: 25px !important;
    }
    .socialMedia h4{
        margin-top:20px;
        font-size:20px !important;
    }
    .fa-quote-right{
        font-size:30px !important;
    }
    .testimonialsContent p{
        font-size:14px !important;
    }
    .testimonialsContent h3{
        font-size:15px !important;
    }
    .s5 .sectionTitle{
        font-size:30px !important;
    }
} 
/* @media only screen and (min-width:1024px){
    .hero{
        height: 70vh!important;
        width: 70vw !important;
    }
} */
 @media only screen and (max-width : 1023px){
     nav{
    display: grid;
    grid-template-columns:5% 0.1fr 1.2fr 0.1fr 5% ;
     }
   .hamburger{
       height: 20px;
   }
   .logo{
       height: 50px;
   }
   .title-div h1{
       font-size: 35px;
   }
   .title-div h2{
       font-size: 25px;
   }
   .navlinks-div{
        grid-column: 3/6 !important;
       padding-top: 10%;
       padding-bottom: 35%;
        font-size: 18px;
        letter-spacing: 0px;
        position: absolute;
        right: 0;
        height:100vh;
        top:4vh;
        background-color: rgb(20, 7, 53);
        display: flex;
        flex-direction: column;
        z-index: 3;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        font-size: 13px;
    }
    .navlinks-div li {
        opacity: 0;
    }
    .s2 h1{
       font-size: 25px !important;
       margin-bottom: 0px !important;
   }
   .aboutUsImgContainer h2,h5{
       font-size: 15px !important;
   }
   .aboutUsImg{
       height: 100px !important;
       width: 100px !important;
   }
   .aboutUsImgContainer h3{
       font-size: 13px !important;
   }
   .description p{
       font-size: 12px;
   }
   .ourMission{
       width: 30% !important;
   }
   .ourMissionAbout h2{
       font-size: 17px !important;
   }
   .ourMissionAbout p{
       font-size: 12px !important;
   }
   .card{
        width: 200px !important;
   }
   .ourFeatures{
       transform: translateY(-80px);
        grid-template-columns: repeat(2, 1fr) !important;
   }
   .label{
       height:80px !important;
   }
   .titlee{
       font-size: 0.9em;
   }
   .body-text{
       font-size: 12px;
   }
   .carousel-text-subtitle p{
    font-size: 12px;
    padding: 0px 15px !important;
    }
    .carousel-nav{
        width: 20% !important;
    }
    .s3 h1{
        font-size: 35px !important;
    }
    .carousel-title{
        font-size: 18px;
    }
    .carousel-text-title{
        padding-bottom: 30px !important;
    }
    .containerr{
          transform:skewY(-10deg) scale(0.3) translate(-120%,-60%) !important ;
      }
    .containerr:hover {
        transform: skewY(-10deg) scale(0.7) translate(-70%,-20%) !important;
    }
    .s4 h1{
        font-size: 25px !important;
    }
      .customerReviews,.formTitle{
        font-size: 25px !important;
    }
    .sectionTitle::after{
            margin-top: 10px !important;
    }
    .socialMedia h4{
        margin-top:18px;
        font-size:18px !important;
    }
    .fa-quote-right{
        font-size:25px !important;
    }
    .testimonialsContent p{
        font-size:12px !important;
    }
    .testimonialsContent h3{
        font-size:13px !important;
    }
    .s5 .sectionTitle{
        font-size:23px !important;
    }
    .subTitleWrapper{
        grid-template-columns: 5% 1fr 1fr 5% !important;
    }
   
}
  
 
 @media only screen and (max-width : 768px){
    .navlinks-div li a {
        font-size: 10px;
    }
    .title-div h1{
       font-size: 35px;
   }
   .title-div h2{
       font-size: 21px;
   }
    .s2 h1{
       font-size: 20px !important;
       margin-bottom: 10px !important;
   }
   .aboutUsImgContainer h2,h5{
       font-size: 12px !important;
       margin-bottom: 10px !important;
   }
   .aboutUsImg{
       height: 80px !important;
       width: 80px !important;
   }
   .aboutUsImgContainer h3{
       font-size: 10px !important;
       margin-bottom: 10px !important;
   }
   .description p{
       font-size: 12px;
   }
   .orangeWave{
       max-height: 15% !important ;
       position: relative;
       top: 15px;
   }
   .ourMission{
       position: absolute;
       top:20% !important;
       align-self: center !important;
       margin: 0px !important;
       width: 90vw!important;
       height: auto !important;
   }
   .ourMissionAbout h2{
       font-size: 15px !important;
   }
   .ourMissionAbout p{
       font-size: 12px;
   }
   .card{
        width: 250px !important;
        height: 150px !important;
   }
   .expanded{
       height:350px !important;
   }
   .ourFeatures{
       transform: translateY(0px) !important;
        grid-template-columns: repeat(1, 1fr) !important;
   }
   .label{
       height:80px !important;
       position: relative;
       top:-30px;
   }
   .card.expanded .label{
       transform: translateY(0px) !important;
   }
   .titlee{
       font-size: 0.9em;
   }
   .body-text{
       font-size: 12px;
   }
   .s3 h1{
       font-size: 30px !important;
       margin-top: 0px !important;
       margin-bottom: 0px ! important;
   }
   .s3 h1::after{
       margin-top: 10px!important;
   }
   .carousel{
       flex-direction: column !important;
       width: 90vw !important;
       height: 80vh !important;
       top:15% !important;
   }
   .carousel-text {
       height: 30vh !important;
       width: 90vw !important;
       position: relative;
   }
   .carousel-images{
       height: 50vh !important;
       width: 90vw !important;
   }
   .carousel-nav{
    top: 18% !important;
    left:50vw !important;
    transform: translateX(-50%);
    width: 40vw !important;
   }
   .img-nav{
       position: absolute !important;
        top:96vh !important;
        right:50vw !important;
        transform:translateX(-60%) !important;
   }
   .carousel-text-title{
       padding-bottom: 30px !important;
   }
   .carousel-text-title h2{
       font-size: 15px;
   }
   .carousel-text-subtitle{
       top:70px;
   }
   .carousel-text-subtitle p{
       font-size: 10px !important;
   }
   .btn{
    height:25px !important;
    font-size: 16px !important;
   }
   .containerr{
       bottom:20% !important;
       left: 15% !important;
       transform: skewY(-10deg) scale(0.3)translate(-80%,80%) !important;
   }
   .containerr:hover{
       transform: skewY(-10deg) scale(0.5)translate(-50%,20%) !important;
   }
   .s4 h1{
        font-size: 20px !important;
        width: 90vw !important;
        text-align: center!important;
    }
    .s4 h1::after{
        width: 20vw !important;
    }
    .subTitleWrapper{
        display: flex !important;
        flex-direction: column;
    }
    .contentWrapper{
        display: flex !important;
        flex-direction: column;
    }
    .sectionContainer{
        display:flex !important;
        justify-content: center;
    }
    .testimonialsContainer {
        width: 80vw !important;
        height: 380px !important;
    }
    .testimonialsBox{
        height: 380px !important;
    } 
    .testimonialsContent img{
        height: 50px;
        margin-top: 10px;
    }
    .field-name,.field-email,.field-phone,.field-text,.field-finish{
        height: 30px !important;
    }
    .submitButton {
        font-size: 14px!important;
        height: 25px !important;
        width: 25px !important;
    }
   .formTitle{
       display: none;
   }
     .fa-quote-right{
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }
    .testimonialsContent p{
        font-size: 12px !important;
    }
    .testimonialsContent h3{
        font-size: 14px !important;
    }
    .sectionTitle::after{
        margin-top: 10px !important;
    }
    .fa-less-than{
        font-size: 30px !important;
        transform: translateX(0%) scale(1)!important;
        z-index: 3;
    }
    .fa-greater-than{
        font-size: 30px !important;
        transform: translateX(0%) scale(1)!important;
    }
   .s5 h1{
       font-size: 25px !important;
       padding-top: 25px !important;
   }
   .s5 .sectionTitle{
       font-size: 20px !important;
   }w
   .socialMedia{
       display: none !important;
   }
   .sectionTitle {
       margin-bottom: 20px !important;
   }
   .container{
       display:flex !important;
       flex-direction: column !important; 
   }
   .container p{
       font-size: 12px;
   }
   footer{
       padding-left: 20px;
   }
 }

  @media only screen and (max-width : 450px){
      .navlinks-div{
          top:6vh;
      }
    .title-div h1{
       font-size: 26px;
   }
   .title-div h2{
       font-size: 18px;
   }
    
    .carousel-text-title{
       padding-bottom: 20px !important;
   }
   .img-nav i{
       font-size:20px !important;
   }
    .btn{
    height:20px !important;
    font-size: 13px !important;
   }
    .containerr{
       bottom:20% !important;
       left: 0% !important;
       transform: skewY(-10deg) scale(0.3)translate(-100%,80%) !important;
   }
   .containerr:hover{
       transform: skewY(-10deg) scale(0.39)translate(-77%,0%) !important;
   }
   .testimonialsContainer{
       height: 225px !important;
   }
   .testimonialsBox{
       height: auto !important;
       padding: 10px !important;
   }
   .fa-quote-right{
       margin:0 !important;
       font-size: 18px !important;
   }
   .testimonialsContent p{
       font-size: 10px !important;
   }
   .testimonialsContent img{
       height: 30px !important;
       width: 30px !important;
   }
   .testimonialsContent h3{
       font-size: 10px !important;
   }
   .socialMedia{
       display: none !important;
   }
 }
  @media only screen and (max-width : 375px){
    .title-div h1{
       font-size: 23px;
   }
   .title-div h2{
       font-size: 15px;
   }
   .s2 h1::after{
       margin-top:10px !important;
   }
   .navlinks-div{
    top:6vh;
        padding-bottom: 55%;
    }
     .btn{
    height:20px !important;
    font-size: 13px !important;
   }
   .btn:hover{
       letter-spacing: .25px !important;
   }
    .containerr{
       bottom:20% !important;
       left: 0% !important;
       transform: skewY(-10deg) scale(0.3)translate(-105%,80%) !important;
   }
   .containerr:hover{
       flex-direction: column;
       flex-wrap: nowrap;
       transform: skewY(-10deg) scale(0.37)translate(-50%,0%) !important;
       position: absolute !important;
       top:-40% !important;
   }
   .cardd{
       margin-bottom: 15% ;
   }
   .cardd:hover{
        transform:translateY(0px) scale(1.3) !important;
        z-index: 3;
   }
   .s4 h1{
       font-size: 20px !important;
       padding-top: 10px !important;
   }
   .s4 h1:after{
       width: 20vw !important;
       margin-top:10px !important;
   }
   .ourMission{
        top:15% !important;
   }
 }
  @media only screen and (max-width : 320px){
      .logo{
          height: 35px ;
      }
      .sticky .logo {
          height: 35px  !important;
      }
    .title-div h1{
       font-size: 19px;
   }
   .title-div h2{
       font-size: 12px;
   }
   .ourMissionAbout {
       transform:translateY(-30px);
   }
    .navlinks-div{
       width: 100%;

        padding-bottom: 55%;
    }
    .carousel-text-title {
        padding-bottom:0px !important;
    }
      .carousel-text {
       height: 40vh !important;
   }
   .carousel-images{
       height: 40vh !important;
       width: 90vw !important;
   }
   .s5 .sectionTitle{
       font-size: 10px !important;
   }
   form{
       transform: scale(0.8) !important;
   }
   
 }
/*  ?--------------------------------- NAVIGATION styling --------------------------------- */
/* ? Navigation links animation to fade in nicely */
 @keyframes navLinkFade{
     from{
         opacity: 0;
         visibility: hidden;
         transform: translatey(50px);
     }to{
         opacity: 1;
         visibility: visible;
         transform: translatey(0px);
     }
 }
@keyframes slideIn{
    from{
        opacity: 0;
        transform: translatex(300%);
    }to{
        opacity: 1;
        transform: translatex(0%);
    }
}
@keyframes slideDown{
   from{opacity: 0;
        transform : translatey(-160%);
   }
   to{opacity: 1;
        transform : translatey(0%);
   }
}
@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes f {
  /*
           +-----A
           .     .
           B-----+
  
  transit 1,2,3,4 to A
  transit 5,6,7,8 to B
  */
  /*
       2   +-----+ 3
       1,5 .     . 4,8
       6   +-----+ 7
  
  1>2>3>4=cw
  5>6>7>8=ccw
  */
  0% {opacity: 0;
    clip-path:polygon(
    100% 0,100% 0,100% 0,100% 0,/*1,2,3,4*/
    0 100%,0 100%,0 100%,0 100%);/*5,6,7,8*/
  }
  100% {opacity: 1;
    clip-path:polygon(
    0 50%,0 0,100% 0,100% 50%,/*1,2,3,4*/
    0 50%,0 100%,100% 100%,100% 50%);
    
   /*5,6,7,8*/  
  }
}
@keyframes slideOutLeft{
    from{opacity: 1;
        transform: translateX(0%) scale(1);
    }
    20%{
        transform: scale(.7);
    }
    to{
        opacity: 0;
        transform: translateX(-100%) scale(.7);
    }
}
@keyframes slideInRight{
    from{opacity: .7;
        transform: translateX(100%) scale(.7);
    }
    80%{
        opacity: .7;
        transform: translateX(0%) scale(.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes shake{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    20%{
        transform: translate(-50%,-50%) rotate(5deg);
    }
    40%{
        transform: translate(-50%,-50%) rotate(-5deg);
    }
    60%{
        transform: translate(-50%,-50%) rotate(5deg);
    }
    80%{
        transform: translate(-50%,-50%) rotate(-5deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
@keyframes testimonialShake{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(5deg);
    }
    40%{
        transform:  rotate(-5deg);
    }
    60%{
        transform:  rotate(5deg);
    }
    80%{
        transform:  rotate(-5deg);
    }
    100%{
        transform:  rotate(0deg);
    }
}
@keyframes errorShake{
    0%, 100% {
    -webkit-transform: translateZ(0);
    transform:  translateZ(0);
}
10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}
20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px,0,0);
    transform:  translate3d(10px,0,0);
}
}
@keyframes heartBeat{
0% {
    transform: scale(1);
}
20% {
    transform: scale(1.5);
}
40% {
    transform: scale(1);
}
60% {
    transform: scale(1.5);
}
80% {
    transform: scale(1);
}
100% {
    transform: scale(1);
}
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-rendering: optimizeLegibility;
}
body , html{
    scroll-behavior: smooth;
	position:relative;
    overflow-x:hidden;


}
.btn{
    position: relative;
    width: auto;
    height:30px;
    font-size: 20px;
    letter-spacing: .25px;
    padding:5px 20px;
    margin-right: 15px;
    cursor: pointer;
    color: white;
    transition: .5s;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.btn:after, .btn:before{
    position: absolute;
    content:"";
    width: 2px;
    height:0%;
    bottom:0;
    background-color: white;
    transition: .5s;   
}
.btn:after{
    left:0;
}
.btn:before{
    right: 0;
}
span{
    position:absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: -2;
    transition: .5s;
}
.btn:hover:before, .btn:hover:after{
    height: 100%;
    transition-delay: 0s;
}

.btn:hover>span{
    height: 100%;
    transition-delay: .5s;
}
.btn:hover{
    color:#F98B88;
    letter-spacing: 2px;
    transition-delay: .5s;
}

 /* ? Animate burger menu */
 .toggle  .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle  .line2 {
     opacity: 0;
 }
 .toggle  .line3 {
     transform: rotate(45deg) translate(-5px,-6px);
 }

nav {
    display: grid;
    grid-template-columns:5% 1fr 2fr 0.2fr 5% ;
    height: 7vh;
    align-items: center;
    z-index: 4;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
    background: radial-gradient(circle at center,transparent, #140735 );
    height: auto;
}
.sticky:hover{
    background-color: #140735;
}
.sticky .logo{
    height: 35px !important;
}

.logo{
    margin-top: 12px;
    grid-column: 2/3;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin:5px;
    transition: all 0.4s ease;
}
.burger-div{
    
    height: auto;
    margin-left: auto;
    cursor: pointer;
    grid-column: 4/5;
    text-align: end;
    z-index: 3;
}

.navlinks-div{
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    
}
.navlinks-div li{
    list-style-type: none;
    opacity: 0;
    visibility: hidden ;
}

.navlinks-div li a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: white;
    border-bottom: 2px solid transparent;
}
 .nav-active{
    transform:translateX(0%);
}
.navlinks-div li a:hover{
    color: #f5716d;
    border-bottom: 1px solid #f5716d;
    transition: all 0.3s ease-in-out;
}
/* ? --------------------------------- Section-1 styling --------------------------------- */
.slider{
    position: absolute;
    top:0;
    left: 0px;
    width: 100%;
    height: 107vh;
    background-position-x: right;
    background-position-y:50%;
    /* background: linear-gradient(to right,#34495e,#2c3e50 );  */
    background-image: url('./assets/backgound-abstract.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    /* background: linear-gradient(to right,#0d93df,#00a9d8 );  465163*/
    z-index: -1;
}
.s1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.hero {
    height: 60vh;
    width: 100vh;
    position: absolute;
}
.hero::after{
    content:"";
    background: linear-gradient(to left, white , black );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    border-radius: 15px 50px;
}
.hero img {
    width:100% ;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px 50px;
    
}
.title-div{
    position: absolute;
    top:45%;
    left: 10%;
    z-index: 2; 
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    font-size: 65px;
    font-weight: 700;
    margin: 0;
    color: #F98B88;
    background: transparent;
    background: -moz-linear-gradient(top, #F98B88 10%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #F98B88 10%, #FFFFFF 100%);
    background: -ms-linear-gradient(top, #F98B88 10%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #F98B88 10%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.subtitle{
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    color: white;
    text-align: start;
}
/* ? --------------------------------- Section-2 styling --------------------------------- */
/* ? --------------------------------- Section-2 -ABOUT US part --------------------------------- */
.s2{
    height: auto;
    padding-top:80px;
     padding-bottom: 40px;
    background-color: #e8e8e8;

}
.sectionTitle{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px ;
}
.sectionTitle::after{
    display: block;
    height: 2px;
    background-color: #F98B88;
    content: " ";
    width: 10%;
    margin: 0 auto;
    margin-top: 30px;
}
.aboutUsIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutUsImgContainer h2,h3,h5{
    text-align: center;
}
.aboutUsImgContainer h2, h5, .ourMission h2 {
    font-size: 30px;
}
.aboutUsImgContainer h3{
    font-size: 27px;
}
.aboutUsImgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-bottom: 5%;
}
.aboutUsImg{
    opacity: 0;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.description{
    opacity: 0;
}
.description p{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.split{
   
    margin-top:1.5%;
    height:240px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
}
.ourFeatures{
    position: relative;
    top: -80%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.card {
    opacity: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 230px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px;
}
.expanded {
  height: 450px;
}
.label {
  height: 120px;
  margin-top: 30px;
  transform: translateY(20px);
  transition: transform 1000ms;
}
.card.expanded .label {
  transform: translateY(-20px);
}
.text {
 clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 1000ms;
}
.card.expanded .text {
 clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.text-content {
  transform: translateY(-360px);
  transition: transform 1000ms;
}
.card.expanded .text-content {
  transform: translateY(0px);
}
.chevron {
    cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}
.card.expanded .chevron {
  transform: rotate(0deg);
}
.titlee {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}
.body-text {
  padding: 0 20px;
}
/* ? --------------------------------- Section-3 -PORTOFOLIO --------------------------------- */
.s3{
    color:rgb(206, 206, 206);
    height: 100vh;
    background:linear-gradient(to bottom right,black 30% ,white );
    /* background-image: url('./assets/wave.png'); */
    
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.s3 h1{
    color: white;
    margin-bottom: 40px;
    margin-top:40px;
    text-align: center;
    font-size: 40px ;
    position: absolute;
    top:30px;
}

.s3 h1::after{
    display: block;
    height: 2px;
    background-color: #F98B88;
    content: " ";
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
}
.carousel{
    height: 60vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    top:25%;

}
.carousel-images{
    width: 50vw;
    height: 100%;
    order: 2;
    position: relative;
}
.carousel-images img{
    background-color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: contain;
}
.carousel-baptism,.carousel-corporate{
    position: absolute;
    opacity: 0;
    animation-delay: 2s;
}
.carousel-wedding{
    animation-delay: 2s;
}
.carousel-text{
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order:1;
    left:0;
    width: 30vw;
}
.carousel-nav{
    color:white;
    position:absolute; 
    top:30%;
    left: 25vw;
    transform: translateX(-50%);
    width:10%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.carousel-navIcon{
  background-color: grey;
  height: 7px;
  width: 30px;
  border-radius: 20%;
  cursor: pointer;
  transition: all 1s ease;
}
.carousel-navIcon:hover{
    background-color: rgb(249, 139, 136) !important;
    transition: all 1s ease !important;
}
 .carousel-nav-wedding{
    background-color: rgb(249, 139, 136);
} 
.img-nav{
    position: absolute;
    display: flex;
    width: 5%;
    justify-content: space-between;
    z-index: 3;
    top:86%;
    right: 35vw;
    transform: translateX(-50%);
}
.carousel-arrow{
    color: white;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.carousel-arrow:hover{
    color: #f5716d;
    transition: all 0.3s ease-in-out;
}
.carousel-text-title{
   padding-bottom: 100px;
    text-transform: uppercase;
}
.inactive{
    opacity: 0;
}
.active{
    opacity: 1 !important;
}
.carousel-title{
    color:black;
   
}
.carousel-text-subtitle p{
    color: black;
    padding: 0px 30px;
}

/* ? --------------------------------- Section-4 -PRICES --------------------------------- */
.s4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-image: url("./assets/wave.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background:linear-gradient(to bottom left, white 50% , blue);
}
.s4 h1{
    position: absolute;
    top: 8%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-top: 40px;
}
.s4 h1:after{
    display: block;
    height: 2px;
    background-color: #F98B88;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
/*? Cards styling */
.containerr{
    position: absolute;
    top:30%;
    left:50%;
    width: 1050px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: .5s;
    transform: skewY(-10deg) scale(0.5)translate(0%,-50%);
}
.containerr:hover{
    position: absolute;
    transform: skewY(-10deg) scale(0.8) translate(-10%,-30%);
}
.containerr .cardd{
    position: relative;
    width: 300px;
    height: 400px;
    transition: .5s;
    
}
.containerr .cardd::before{
    content: '';
    position: absolute;
    top:-15px;
    left:0;
    width: 100%;
    height: 15px;
    background: #00c0f6;
    transform-origin: bottom;
    transform:skewX(45deg);
    transition: .5s;
    
}
.containerr .cardd::after{
    content: '';
    position: absolute;
    top:-15px;
    left:-15px;
    width: 15px;
    height: 50%;
    background: #00c0f6;
    transform-origin: left;
    transform:skewY(45deg);
    transition: .5s;
    border-bottom: 300px solid rgb(161, 161, 161);
}
.containerr .cardd:hover{
    transform:translateY(-60px) scale(1);
}
.containerr .cardd .imgBx{
    position: relative;
    width: 300px;
    height: 200px;
    background: #00c7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerr .cardd .imgBx i{
    font-size:60px;
    color:white;
    border: solid;
    padding: 15px;
    border-radius: 50%;
}
.containerr .cardd .imgBx h3{
    position: relative;
    color: white;
    margin-top: 10px;
}
.containerr .cardd .content{
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
    text-align: start;
    background-color: rgb(161, 161, 161);
    display: flex;
    flex-direction: column;
}
.containerr .cardd .content p:nth-child(1) i, p:nth-child(2) i, p:nth-child(3) i{
    font-size: 25px;
}
.priceDetails {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 0;
    align-self: center;
    padding-bottom: 10px;
}
.contactButton{
align-self: center;
margin-top:40px;

}
.contactButton span{
    color: white;
}
.btn2{
    text-decoration:none;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid;
    border-radius: 200px;
    transition: all .5s;
    color:white;
}
.btn2:hover{
    letter-spacing: 7px;
    background-color: #F98B88;
    border-color: #F98B88;
}
.upTo{
    display: flex;
    flex-direction: column;
    border-right: solid 2px 
}
.fa-users{
    font-size: 20px;
}
.containerr .cardd .content::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    width:100%;
    height: auto;
    background: linear-gradient(transparent, transparent , rgba(0,0,0,.1));
}
/*Our Mission styling */
.ourMission{
    opacity: 0;
    width: 40%;
    height: 50%;
    margin-left: 10%;
    text-align: center;
    border: solid 2px  #F98B88;
    padding: 20px;
    border-radius:20px;
    box-shadow: 5px 10px 10px #F98B88;
}
.ourMissionAbout h2{
    margin-bottom: 7%;
    margin-top: 5%;
}
.ourMissionAbout p{
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 150%;
}
/* ? --------------------------------- Section-5 -CONTACT US --------------------------------- */
.s5{
    height: 100vh;
    background:linear-gradient(to left, #57bd8b , white 60%);
    display: flex;
    flex-direction: column;
    transition: background 0.5s ease ;
}
.s5 h1{
    padding-top:40px;
}
.sectionContainer{
    align-items: center;
    justify-items: center;
    position: relative;
    grid-column:2/3;
}

.contentWrapper{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10% ;
}
.testimonialsContainer{
    grid-column:2/3;
    width:30vw;
    display: flex;  
    position: relative;
    height: 60vh;
}
.testimonialsBox{
    position: absolute;
    background-color: #121e27;
    padding:20px 40px 20px 40px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    height: 60vh;
    transform: rotateY(0deg);
}
.fa-less-than, .fa-greater-than{
    color:#57bd8b;
    font-size: 40px;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.fa-less-than{
    left:0%;
    transform: translateX(-200%) scale(1) ;
}
.fa-greater-than{
    right:0%;
    transform: translateX(200%) scale(1);
}
.fa-less-than:hover{
    transform:translateX(-200%) scale(1.5);
}
.fa-greater-than:hover{
    transform: translateX(200%) scale(1.5);
}
.fa-less-than:hover, .fa-greater-than:hover{
    color:#F98B88;
}
.testimonialsContent p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.testimonialsContent p{
    color:white;
}
.testimonialsContent h3{
    color:#57bd8d;
    font-weight:1000;
}
.user{
    border-radius: 50%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.fa-quote-right{
    margin-bottom: 20px;
    font-size: 50px;
    color: #57bd8b;
}
.inactiveTestimonial{
    opacity: 0;
}
.activeTestimonial{
    opacity: 1;
}
.form{
    grid-column:3/4;
    align-self: center;
    display:flex;
    flex-direction: column;
}
.field-name,.field-email,.field-phone,.field-text,.field-finish{
    background-color:white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition:all .5s ease;
}
.subTitleWrapper{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10% ;
}
.customerReviews{
    font-size: 30px;
    grid-column:2/3;
}
.formTitle{
    font-size: 30px;
    grid-column:3/4;
}
.field-name i,.field-email i ,.field-phone i,.field-text i,.field-finish i{
    padding:10px;
}
.field-name input,.field-email input ,.field-phone input,.field-text input{
    background:none;
    border: none;
    flex:1;
    height: 100%;
    outline:none;
}
.fa-arrow-down{
    cursor: pointer;
}
.fa-heart{
    color: #F98B88;
}
.submitButton{
    font-size: 20px;
    align-self: center;
    height: 40px;
    width: 50px;
    background-color:#F98B88;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    outline:none;
}
.submitButton:active{
    transform:scale(0.9);
}
div.inactive{
    opacity: 0;
    pointer-events: none;
    transform: translateY(50%);
    margin-bottom: 10px;
}
div.active{
    opacity: 1;
    pointer-events: all;
    margin-bottom: 10px;
}
.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialMedia h4{
  font-size: 30px;
}
.socialMedia ul{
    list-style: none;
}
.socialMedia ul{
    display: flex;
    justify-content: space-around;
}
.fa-facebook-square,.fa-instagram{
    font-size: 25px;
    color: #666;
    margin-top:10px;
    transition: all 1s;
    transform: scale(1);
    margin:10px
}
.fa-facebook-square:hover{
    color: rgb(66,103,178);
    transform: scale(1.5);
    transition: all 1s;
}
.fa-instagram:hover{
    color: rgb(225,48,108);
    transform: scale(1.5);
    transition: all 1s;
}
.error{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ? --------------------------------- Section-6 -FOOTER --------------------------------- */
footer{
    background-color: #333;
    padding-bottom: 50px;
    padding-top:30px ;
    font-size: 80%;
    font-size: 15px;
}
.container{
    display:grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    justify-items: center;
}
.footer-nav{
    grid-column: 2/3;
}
.social-links{
    grid-column:3/4;
}
.container p{
    margin-top:20px;
    grid-column:2/4;
    color: white;
}
.footer-nav{
        list-style: none;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.footer-nav li, .social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.5s;
}
.footer-nav li a:hover{
    color:white;
    transition: color .5s;
}
/* .row{
    max-width: 1140px;
    margin: 0 auto;
}
.row:before, .row:after {
    content: "";
    display: table;
}

.social-links{
    list-style: none;
    float: right;
} */